.carousel-section {
  position: relative;
  max-width: 100%;
  padding-bottom: 204px;
  padding-top: 97px;
  background: #F1F1F1;
}

.section-title {
  text-align: center;
  font-size: 24px; 
  margin-bottom: 20px;
}

.carousel-section  .property-card {
  position: relative;
  overflow: hidden; 
  padding: 10px;
}

.carousel-section  h2{
  margin-top: 30px;
  margin-bottom: 65px;
}

.card-img {
  width: 100%; 
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 20px; 
  left: 20px;
  color: white; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 5px;
}

.city-name {
  font-size: 18px; 
  font-weight: bold;
}

.property-count {
  font-size: 14px; 
}

.custom-arrow {
  background-color: #BBBBBB;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.card-arrow{
  right: 23px;
  top: 28px;
  background: white;
  border-radius: 50%;
  padding: 13.5px;
}

.custom-arrow:hover, .custom-arrow:active{
  background-color: #00B753;
  cursor: pointer;
}

.next {
  position: absolute;
  bottom: 98px;
  left: 51%;
}

.prev {
  position: absolute;
  bottom: 98px;
  right: 50.2%; 
}

.carousel-section {
  position: relative; 
}

.neighbor .slick-track, .neighbor .slick-slider, .neighbor .slick-track {
  position: unset;
}