.border-container {
  display: flex;
  align-items: center; 
  margin: 20px 0; 
}

.left-border,
.right-border {
  height: 16px;
  width: 2px; 
  background-color: #000000;

}
.left-border{
  margin-right: 20px;
}
.right-border{

    margin-left: 20px;

}
h4.heading {
  color: #6E00FF;
  margin: 0; 
  display: inline-block; 
}
