#navbar-nav .nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

#navbar-nav .nav-link:hover {
  font-weight: 500;
  color: #6E00FF;
}

.navbar-nav{
  gap:50px;
}

#navbar-nav .bg-green{
  padding: 12px 25px;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .topnav .container{
    max-width: unset;
  }
}

@media only screen and (max-width: 991px){
  #navbar-nav .bg-green{
    margin: 40px 0;
  }
}